# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Chroma Vector Database
# =========================
chroma_db/

# =========================
# Python Cache
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# Build
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Temporary Files
# =========================
*.tmp
*.bak

# =========================
# Evaluation Outputs
# =========================
app/evaluation/results.json

# =========================
# Videos
# =========================
video/
*.mp4

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db